<div class="error" ng-if="main.myFilms.length < 1">
  <p>There are no films yet.</p>
</div>

<div class="search-results" ng-if="main.myFilms.length > 0">
  <md-card ng-repeat="item in main.myFilms">
    <img ng-src="{{ item.Poster }}" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ item.Title }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p> {{ item.Plot }} </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="main.remove(item.imdbID)">REMOVE</md-button>
      <md-button class="md-raised md-primary" href="#!/film/{{item.imdbID}}">VIEW MORE</md-button>
    </md-card-actions>
  </md-card>
</div>